.header {
  height: 100px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 70px;
  font-weight: 600;
}

.lefttext {
  h4 {
    font-size: 18px;
    b {
      color: #2e9cb0 !important;
    }
  }
  p {
    color: #888 !important;
    font-weight: 400;
    font-size: 12px !important;
  }
}

.left {
  display: flex;
  align-items: center;
  p {
    font-size: 13px;
    color: #333;
  }
}

.center {
  img {
    height: 90px;
    object-fit: cover;
    margin-right: 20px;
  }
}

.right {
  display: block;
  text-align: right;
  padding-top: 10px;
  p {
    padding-top: 15px;
    font-size: 12px;
    color: #333;
  }
  a {
    color: white;
    text-decoration: none;
    background-color: #e5571b;
    padding: 10px 30px;
    margin-right: 0px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s;
  }
  a:hover {
    background: #cd4e18;
  }
  i {
    text-align: left;
    margin-right: 19px;
  }
}
