.sliderItem {
  height: 26vw;
  min-height: 150px;
  max-height: 400px;
  position: relative;
  img {
    z-index: 3;
    border-radius: 4px;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.container {
  overflow: hidden;
  margin-top: 25px;
  max-width: 100%;
}

.label {
  position: absolute;
  top: 75%;
  padding: 20px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  background: rgba($color: #333, $alpha: 0.8);
  font-size: 16px;
  height: 100px;
}

.btn {
  background: transparent;
  border: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  // width: 50%;
  font-weight: bold;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
  padding: 6px 20px;
}

.more {
  color: #333;
  // display: block;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  &:hover {
    text-decoration: underline;
    color: #2e9cb0;
  }
}

.selectcontainer {
  // text-align: right;
  // height: 100%;
  div {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 13px;
    // border: 1px solid #ccc;
    font-weight: 600;
    background-color: #f4f4f4;
    padding: 7px 15px;
    border-radius: 20px;
    transition: 0.3s;
    i {
      padding-left: 5px;
    }
    &:hover {
      background: #c7e0e7;
      transform: scale(1.05);
      // color: #e5571b;
    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.btnActive {
  background: #e5571b;
  color: white;
}

.btns {
  border-radius: 20px;
  background: #eee;
  display: inline-flex;
  width: fit-content;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.dialog {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.banner {
  width: 40%;
  object-fit: cover;
  margin: 50px 50px 0px 50px;
}

.text {
  font-family: "Poppins", sans-serif;
  margin: 10px;
  h4 {
    margin: 20px 50px;
    color: black;
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .filter {
    display: block;
    // grid-template-columns: repeat(2, 1fr);
    // gap: px;
    margin-bottom: 40px;
    padding: 0;
  }
  .btn {
    width: 50%;
  }
  .btns {
    width: 100%;
  }
  .showdiv {
    margin-top: 30px;
  }
  .selectcontainer {
    margin: 10px 0;
    width: fit-content;
  }
  .select {
    width: 50%;
  }
}
