.bodytop {
  display: grid;
}

.ref {
  font-size: 18px;
  display: block;
  font-weight: 600;
  margin-top: 24px;
  text-align: center;
}

.btn {
  background: #e5571b;
  border: 0;
  color: white;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  width: 100%;
  margin-top: 16px;
  padding: 20px;
  border-radius: 12px;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;

  img {
    height: 20px;
    padding: 0px 10px;
    padding-bottom: 2px;
  }
  &:hover {
    background-color: #006181;
  }
}
