.bodytop {
  display: grid;
}

.btn {
  background: #e5571b;
  text-decoration: none;
  border: 0;
  color: white;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border-radius: 17px;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;

  img {
    height: 30px;
    padding: 0px 10px;
    padding-bottom: 5px;
  }
  &:hover {
    background: #cd4e18;
  }
}
.sidebar {
  // h3 {
  //   text-align: center;
  //   border-radius: 3px;
  //   background-color: #f4f4f4;
  //   padding: 8px;
  //   margin-bottom: 16px;
  // }
}

.referral {
  // height: 100%;
  display: block;
  padding: 15.5px 20px;
  border-radius: 20px;
  background-color: #f7e6ae;
  p {
    font-size: 14px;
  }
}
