.ticker {
  background: #2e9cb0;
  overflow: hidden;
  height: 45px !important;
  border-radius: 111px;
  padding-top: 8px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.tbl {
  width: 100%;
  border: 1px solid #ddd;
  th {
    padding: 16px 8px;
    background: #f4f4f4;
  }
  tbody {
    tr {
      &:nth-child(even) {
        td {
          background: #fafafa;
        }
      }
    }
  }
  td {
    padding: 4px 8px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    p {
      display: flex;
      font-weight: 600;
      color: #2e9cb0;
      font-family: "Poppins", sans-serif;

      align-items: center;
      img {
        width: 35px;
        height: 35px;
        margin-right: 4px;
        object-fit: contain;
      }
    }
  }
}

.tickerItems {
  text-align: center;
  margin-bottom: 16px;
}

.tickerContainer {
  position: relative;
}

.title {
  position: absolute;
  color: white;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.more {
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  background: rgba($color: #000000, $alpha: 0.1);
  border-top-right-radius: 111px;
  border-bottom-right-radius: 111px;
  height: 45px;
  width: 80px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: rgba($color: #000000, $alpha: 0.2);
  }
}

.tickerItem {
  //   display: grid;
  display: inline-block;
  margin: 0 16px;
  align-content: center;
  width: 170px;
  color: white;
  span {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
  }
  & > div {
    align-items: center;
    column-gap: 8px;
    display: grid;
    grid-template-columns: 40px 30px repeat(2, 40px);
    & > div {
      &:nth-child(1) {
        text-align: center;
      }
      &:nth-child(2) {
        display: grid;
        place-items: center;
        img {
          width: 30px;
        }
      }
      &:nth-child(3) {
        align-self: center;
      }
    }
  }
}
