.tickerContainer {
  // position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: #2e9cb0;

  height: 45px !important;
  border-radius: 111px;
  min-height: 22px;
}

.title {
  // position: absolute;
  width: 210px;
  color: white;
  font-weight: 700;
  font-size: 12px;
  margin: 0 10px;

  // top: 50%;
  // transform: translateY(-50%);
  // left: 20px;
}

.marquee {
  width: calc(100% - 400px);
  flex: 1;
  // position: absolute;
  // // left: 54%;
  // top: 50%;
  // transform: translate(-50%, -50%);
}

.tickerItems {
  text-align: center;
}

.button {
  // position: absolute;
  // right: 0;
  // top: 50%;
  width: 100px;
  display: flex;
  .more {
    // position: absolute;
    // right: 0;
    cursor: pointer;
    // top: 50%;
    // transform: translateY(-50%);
    background: rgba($color: #ffffff, $alpha: 0.1);
    border-top-right-radius: 111px;
    border-bottom-right-radius: 111px;
    height: 45px;
    width: 80px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: rgba($color: #ffffff, $alpha: 0.2);
    }
  }

  .refresh {
    // position: absolute;
    // right: 7%;
    cursor: pointer;
    // top: 50%;
    // transform: translateY(-50%);
    background: rgba($color: #ffffff, $alpha: 0.1);
    height: 45px;
    width: 50px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: rgba($color: #ffffff, $alpha: 0.2);
    }
  }
}

.sell {
  span {
    color: white;
    // color: #a02424;

    font-weight: 600;
  }
}

.buy {
  span {
    color: white;
    // color: #1b591b;
    font-weight: 600;
  }
}

.tbl {
  width: 100%;
  border: 1px solid #ddd;
  th {
    padding: 16px 8px;
    background: #f4f4f4;
  }
  tbody {
    tr {
      &:nth-child(even) {
        td {
          background: #fafafa;
        }
      }
    }
  }
  tfoot {
    tr {
      td {
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 500;
      }
    }
  }
  td {
    padding: 4px 8px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    p {
      display: flex;
      font-weight: 600;
      color: #2e9cb0;
      font-family: "Poppins", sans-serif;

      align-items: center;
      img {
        width: 35px;
        height: 35px;
        margin-right: 4px;
        object-fit: contain;
      }
    }
  }
}

.tickerItem {
  // display: grid;
  display: inline-block;
  margin: 0 16px;
  align-content: center;
  width: 170px;
  color: white;
  span {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
  }
  & > div {
    align-items: center;
    column-gap: 8px;
    display: grid;
    grid-template-columns: 40px 30px repeat(2, 40px);
    & > div {
      &:nth-child(1) {
        text-align: center;
      }
      &:nth-child(2) {
        display: grid;
        place-items: center;
        img {
          width: 30px;
        }
      }
      &:nth-child(3) {
        align-self: center;
      }
    }
  }
}

.flag {
  font-size: 14px;
  img {
    height: 15px;
  }
}

.modal {
  width: 100%; /* Full width */
  max-width: 40%;
  // height: 100%; /* Full height */
  overflow: auto;
  // margin-left: 20px;
}

@media screen and (max-width: 940px) {
  .modal {
    max-width: 65%;
  }
}

@media screen and (max-width: 522px) {
  .title {
    display: none;
  }
  .marquee {
    margin-left: 20px;
  }
  .modal {
    max-width: 80%;
  }
}

@media screen and (max-width: 420px) {
}

@media screen and (max-width: 280px) {
}
