.market {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  margin-top: 16px;
  font-size: 16px;
  margin-bottom: 32px;
}

.more {
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  font-weight: 600;
  margin-top: 8px;
}

.item {
  border-radius: 4px;
  display: grid;
  transition: all 0.9s;
  border: 1px solid #eee;
  padding: 24px 0;
  grid-template-columns: 75px 1fr;
  background: #c7e0e7;
  &:hover {
    transform: translateY(-5px);
    border: 1px solid #ddd;
    transition: all 0.5s;
  }
  button {
    color: #026884;
    border: 0;
    font-family: "Poppins", sans-serif;
    background: transparent;
    margin-left: 16px;
    font-weight: 600;
    font-size: 12px;
    display: block;
    margin-top: 16px;
    &:hover {
      opacity: 0.7;
    }
    cursor: pointer;
  }
  label {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: inline-block;
    font-size: 16px;
    margin-left: 16px;
    cursor: pointer;
    color: #333;
    display: inline-block;
    line-height: 22px;
    &:hover {
      color: #e5571b;
    }

    span {
      display: block;
      font-size: 11px;
      font-weight: 500;
      color: #026884;
    }
  }
  img {
    width: 58px;
    justify-self: end;
    align-self: center;
    border-radius: 4px;
  }
}

.tbl {
  width: 100%;
  border: 1px solid #ddd;

  th {
    padding: 16px 8px;
    background: #f4f4f4;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  tbody {
    tr {
      &:nth-child(even) {
        td {
          background: #fafafa;
        }
      }
    }
  }
  td {
    text-align: left;
    padding: 4px 8px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    i {
      padding-right: 10px;
    }
    a {
      text-decoration: underline;
      font-weight: 500;
      cursor: pointer;
    }
    a:hover {
      color: #cd4e18;
    }
    p {
      display: flex;
      font-weight: 600;
      color: #2e9cb0;
      font-family: "Poppins", sans-serif;
      align-items: center;
    }
    button {
      text-decoration: none;
      margin-top: 10px;
      width: 100%;
      height: 40px;
      border: 0;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      color: #ffff;
      cursor: pointer;
      border-radius: 5px;
      margin-bottom: 8px;
      overflow: hidden;
      background: #e5571b;
      transition: 0.3s;
      &:hover {
        background: #cd4e18;
      }
    }
  }
}
