// .link {
//   display: block;
//   text-decoration: none;
//   border-bottom: 1px solid #ddd;
//   padding: 16px 16px;
//   color: #2e9cb0;
//   font-weight: 500;
// }

.links {
  margin-top: 20px;
}

.linksInner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  a,
  button {
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 70px;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 8px;
    overflow: hidden;
    background: #f4f4f4;
    transition: 0.3s;
    &:hover {
      background: #c7e0e7;
    }
    img {
      position: absolute;
      top: 10%;
      left: 3%;
      width: 50px;
      height: 50px;
      padding: 5px;
      // transition: all 0.3s;
      border-radius: 5px;
      object-fit: cover;
      // background-color: #c7e0e7;
      z-index: 4;
    }
    span {
      position: absolute;
      left: 23%;
      top: 30%;
      z-index: 5;
      font-size: 20px;
      font-weight: 600;
      color: #333;
      font-family: "Poppins", sans-serif;
      // transform: translate(-50%, -50%);
    }
  }
}

.dialog {
  text-align: center;
  width: 100%; /* Full width */
  max-width: 40%;
  // height: 100%; /* Full height */
  overflow: auto;
  // margin-left: 20px;
}

.content {
  // background: #2e9cb0;
  padding: 15px;

  a {
    font-family: "Poppins", sans-serif;
    display: grid;
    text-decoration: none;
    margin: 15px 0px;
    color: black;
    font-weight: 600;
    font-size: 16px;
    background-color: #f4f4f4;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    overflow-y: hidden;
    cursor: pointer;
    transition: 0.3s;
  }
  a:hover {
    background: #e5571b;
    color: white;
  }
}

@media screen and (max-width: 940px) {
  .dialog {
    max-width: 65%;
  }
}

@media screen and (max-width: 522px) {
  .dialog {
    max-width: 80%;
  }
}
