@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

.pageContainer {
  width: 1600px;
  max-width: 80vw;
  min-height: 200px;
  margin: 0 auto;
}

.birthdayDialog.p-dialog .p-dialog-content {
  color: #495057;
  padding: 0px !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.birthdayDialog.p-dialog .p-dialog-header {
  padding: 0 !important;
  // opacity: 0 !important;
  button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    opacity: 0.7;
  }
}
